*{
margin: 0;
padding: 0;


}
body {
background:linear-gradient(to left, rgb(1, 1, 17) , rgb(15, 15, 15)) ;
display: flex;
align-items: center;
justify-content: center;
margin-top: 4vh;

}
.com{
background-color: rgba(22, 22, 22, 0.932);
margin-bottom: 1rem;
width: 100%;
max-width: 550px;
min-height: 550px;
box-shadow: 0 0 10px gray;
border-radius: 20px;
transition: 0.8s ease-in-out;

}

form{
display: flex;
flex-direction: column;
gap: 50px;
}
form input{
max-width: 500px;
background-color: rgba(240, 248, 255, 0);
padding: 5px;
margin:-1rem auto;
width: 100%;
margin-bottom: 3.5rem;
border: none;
border-bottom: 1px solid rgb(255, 255, 255);
outline: none;
color: white;
}
form label{
margin-left: 1.5rem;
font-size: 18px;
color: #fff7f0;



    
}
.lay button{
position: relative;
margin-bottom: 40px;
padding: 25px 120px;
border-radius: 15px;
border: none;
left: 134px;
font-size: 17px;
transition: 0.8s ease-in-out;
cursor: pointer;
}
form h1{
font-size:40px;
padding-top: 20px;
text-align: center;
color: white;
}
.dvd{
display: flex;
flex-direction: row;
padding-bottom: 20px;
gap: 100px;
font-size: 17px;
justify-content: center;
align-items: center;
}
.fa-google{
background-color: red;
padding: 5px;
border-radius: 10px;
color: #fff7f0;
cursor: pointer;
}
.fa-facebook-f{
background-color: rgb(3, 51, 63);
padding: 5px 10px;
border-radius: 10px;
color: #fff7f0;
cursor: pointer;

}
.fa-x-twitter{
background-color: rgb(110, 192, 212);
padding: 5px 10px;
border-radius: 10px;
color: #0c0c0c;
cursor: pointer;



}
.hh{
position: absolute;
left: 80px;
top: 160px;
color: rgb(201, 200, 198);

}
.im1{
width: 300px;
border-radius: 7000px;
position: absolute;
left: 0px;
top: 0px;
}
.com:hover{
transform: translateY(-0.7rem);
transition: 0.8s ease-in-out;



}
button:hover{
transform: scale(1.1);
background-color: rgb(168, 210, 247);


}








